body {
  font-family: "Open Sans", sans-serif;
  background-color: #dedede;
}

:root {
  --primary: #1b3052;
  --secondary: #4e678f;
}

.bg-primary {
  background-color: var(--primary);
}
.primary {
  color: var(--primary);
}
.hover-bg-primary:focus,
.hover-bg-primary:hover {
  background-color: var(--primary);
}
.b--primary {
  border-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}
.secondary {
  color: var(--secondary);
}
.hover-bg-secondary:focus,
.hover-bg-secondary:hover {
  background-color: var(--secondary);
}
.b--secondary {
  border-color: var(--secondary);
}

.cup {
  cursor: pointer;
}

.no-focus:focus {
  outline: none;
}

.search-bar {
  width: 320px;
}

@media screen and (max-width: 991px) {
  body {
    font-size: 12px;
  }
}

@media screen and (max-width: 550px) {
  body {
    font-size: 11px;
  }
  .search-bar {
    flex: 1;
  }
  .fab-create {
    display: none;
  }
}
